
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
:root {
  font-family: 'Questrial';
}


@layer components {
  .min-h-screen {
    min-height: 100vh;
  }
}


@font-face {
  font-family: 'Questrial';
  src: url('/src/assets/fonts/Questrial-Regular.ttf') format('woff2');
}
